---
import Layout from "../layouts/Layout.astro";
import WhatAfter12th from "../components/WhatAfter12th.astro";

const title = "India's First Career Guidance WhatsApp Chatbot";
const description =
  "Get help in Subject Revision, Exam Preparation, Sample Paper Solving and many more from India's only Career Guidance WhatsApp Chatbot.";
---

<Layout title={title} description={description}>
  <main>
    <div class="container">
      <img src="/chatbot-img.webp" alt="Chatbot with phone illustration" class="hero-img" />
      <h1 class="hero-title">
        <span class="small">Bharat's First</span><br /><em class="bold">WhatsApp Chatbot</em><br />
        For Class
        <em class="extrabold underline">12th Students</em>
      </h1>

      <a href="https://wa.me/+919909990741?text=Hello" target="_blank" class="cta"
        ><div class="text">
          <span class="big">Click Here</span><br />
          To Start Chat
        </div>
        <img src="/whatsapp-icon.svg" alt="WhatsApp Icon" class="whatsapp-img" /></a
      >

      <div class="chatbot-help">
        <p class="chatbot-features">Get help in</p>
        <ul role="list" class="help-list">
          <li>Subject Revision</li>
          <li>Exam Preparation</li>
          <li>Sample Paper Solving</li>
        </ul>
        <p class="other-features">
          and many more from
          <em class="highlight">India's only Career Guidance WhatsApp Chatbot.</em>
        </p>
      </div>
      <em class="note">*No need to install additional application...!</em>

      <img class="help-img" src="/mobile.webp" alt="Mobile mockup featuring the WhatsApp Chatbot" />

      <WhatAfter12th />
    </div>
  </main>

  <footer>
    <div class="social-links">
      <a href="https://wa.me/+919909990741?text=Hello" target="_blank"
        ><img class="social-links__img" src="/whatsapp-icon.svg" alt="" /></a
      >
      <a href="https://www.instagram.com/drona_education_foundation" target="_blank"
        ><img class="social-links__img" src="/insta-icon.svg" alt="" /></a
      >
      <a href="https://www.facebook.com/dronafoundation.edu.in" target="_blank"
        ><img class="social-links__img" src="/facebook-icon.svg" alt="" /></a
      >
    </div>
  </footer>
</Layout>

<style>
  em[class] {
    font-style: normal;
  }
  em.bold {
    font-weight: 600;
  }
  em.extrabold {
    font-weight: 700;
  }
  em.black {
    font-weight: 900;
  }
  em.highlight {
    color: var(--clr-accent);
  }

  a.cta {
    --button-color: var(--clr-accent);

    text-decoration: none;
    color: var(--clr-primary);
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    background-color: var(--button-color);
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0.5em;
    margin-block: 0.5em 1.2em;
    position: relative;
  }

  a.cta .big {
    font-size: 2rem;
    font-weight: 800;
  }

  a.cta::before {
    content: "";
    position: absolute;
    right: clamp(100% + 0.8rem, 100% + 2vw, 100% + 1.2rem);
    height: 100%;
    width: 5vw;
    background-color: var(--button-color);
  }

  a.cta::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--button-color);
    z-index: -1;
    animation: btnBgHighlight 1s ease infinite;
  }

  @keyframes btnBgHighlight {
    from {
      scale: 1 1;
      opacity: 1;
    }
    to {
      scale: 1.2 1.5;
      opacity: 0;
    }
  }

  .whatsapp-img {
    width: 5rem;
  }

  /* Main styles */

  .hero-title {
    font-weight: 400;
    font-size: 1.7rem;
    margin-block: 0.5em;
  }

  .hero-title .small {
    font-size: 1.2rem;
  }

  .hero-title .bold {
    margin-block-end: 0.1em;
    display: inline-block;
  }

  .hero-title .underline {
    white-space: nowrap;
    background-image: url("/stroke-img.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-block-end: 0.8rem;
  }

  .hero-img {
    float: right;
    width: min(50%, 600px);
    shape-outside: polygon(-1px -8px, -0.14% 51.73%, 30.11% 48.79%, 54.65% 101.18%, 98.55% 101.71%);
    shape-margin: 2rem;
    margin-left: 1rem;
  }

  .chatbot-features {
    line-height: 1.5;
  }

  .other-features {
    line-height: 1.6;
  }

  em.note {
    margin-block: 0.5em 1em;
    font-style: italic;
    color: var(--clr-neutral-300);
    display: inline-block;
  }

  .help-list {
    list-style-type: none;
    margin-block: 0.3em;
  }

  .help-list li::before {
    content: "➤ ";
    display: inline-block;
    margin-inline-end: 0.4em;
    margin-block: 0.2em;
    color: var(--clr-accent);
  }

  .help-img {
    display: none;
  }

  /* Social Links Styles */

  .social-links {
    background-color: var(--clr-accent);
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    /* margin-block-start: 1rem; */
  }

  .social-links__img {
    width: 2rem;
  }

  @media (min-width: 1000px) {
    .hero-title {
      font-size: 3rem;
    }

    .hero-title .small {
      font-size: 2.4rem;
    }

    .hero-title .underline {
      padding-block-end: 1.2rem;
    }

    a.cta {
      font-size: 3.68rem;
    }

    a.cta .big {
      font-size: 4.5rem;
    }

    .whatsapp-img {
      width: 8.5rem;
    }

    .chatbot-help {
      font-size: 1.4rem;
    }

    footer {
      position: absolute;
      top: 50%;
      right: 0;
    }

    .social-links {
      flex-direction: column;
      padding: 1rem;
    }
  }

  @media (max-width: 1370px) {
    .hero-img {
      width: min(400px, 40vw);
    }
  }

  @media (max-width: 600px) {
    .hero-img {
      display: none;
    }

    .help-img {
      display: block;
    }
  }
</style>

<!-- Arrow To be Used -->
<!-- ➤ -->
