---
import Layout from "../layouts/Layout.astro";

const title = "Science - A Group";
const description = "Science - A Group";
---

<Layout title={title} description={description}>
  <main>
    <div class="container">
      <h1 class="page-title">Science - A Group</h1>
    </div>
  </main>
</Layout>
