---
import WhatAfter12ThLayout from "../../../../layouts/WhatAfter12thLayout.astro";
const title = "Mechanical Engineering";
const description = "Mechanical Engineering";
---

<WhatAfter12ThLayout title={title} description={description}>
  <main>
    <div class="container">
      <h1 class="page-title">{title}</h1>
      <p class="info-text">
        B.E. (Bachelor of Engineering) and B.Tech (Bachelor of Technology) in Mechanical Engineering
        are undergraduate degree programs that provide students with a solid foundation in the
        principles of mechanics, materials science, thermodynamics, and energy systems. These degree
        programs are designed to prepare students for careers in various industries such as
        manufacturing, aerospace, automotive, and energy, among others.
      </p>
      <p class="info-text">
        The duration of the B.E./B.Tech in Mechanical Engineering programs in India is generally
        four years. The curriculum typically includes courses in engineering mathematics, physics,
        chemistry, mechanics, thermodynamics, materials science, machine design, manufacturing
        processes, and control systems.
      </p>
      <p class="info-text">
        In addition to the core courses, students may also have the opportunity to specialize in
        various sub-disciplines of mechanical engineering, such as mechatronics, robotics,
        automotive engineering, aerospace engineering, and energy systems.
      </p>
      <p class="info-text">
        During their degree programs, students may also have the opportunity to participate in
        internships, research projects, and industry collaborations, which provide hands-on
        experience and exposure to the real-world challenges faced by the mechanical engineering
        industry.
      </p>
      <p class="info-text">
        Upon completion of their B.E./B.Tech in Mechanical Engineering, graduates can pursue various
        career paths, including roles such as design engineer, manufacturing engineer, quality
        control engineer, research and development engineer, project engineer, and many more. They
        can also opt for higher education options such as M.E./M.Tech, MBA, and PhD programs, which
        can lead to career advancement and specialization in their field of interest.
      </p>
    </div>
  </main>
</WhatAfter12ThLayout>
