---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />

    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title} | Career Guidance</title>

    <!-- Google Fonts -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />

    <!-- Google Tag Manager - from Social Media ID -->
    <script is:inline>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : ""
        j.async = true
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, "script", "dataLayer", "GTM-577HK7WF")
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-4KY2DJZLJY"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-4KY2DJZLJY")
    </script>

    <!-- Google Tag Manager - from Pratik Sir's ID -->
    <script is:inline>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : ""
        j.async = true
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, "script", "dataLayer", "GTM-55MFBSZJ")
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-55MFBSZJ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <header class="header">
      <div class="container">
        <p class="header-title"><a href="/"><em class="black">career</em> 108</a></p>
        <p class="header-sub-title">Educational NGO Since 2014</p>
      </div>
    </header>

    <slot />
  </body>
</html>

<style is:global>
  :root {
    --clr-primary: #1d1d1d;
    --clr-accent: #46cc6b;

    --clr-neutral: #fff;
    --clr-neutral-300: #a2a2a2;

    --ff-primary: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --ff-heading: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  /* Reset */

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:focus-visible {
    outline: 3px dashed var(--clr-accent);
    outline-offset: 0.1em;
  }

  img {
    display: block;
    max-width: 100%;
  }

  body {
    background-color: var(--clr-primary);
    color: var(--clr-neutral);

    font-family: var(--ff-primary);
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: var(--clr-accent);
    background: var(--clr-neutral);
  }

  ::selection {
    color: var(--clr-accent);
    background: var(--clr-neutral);
  }

  .container {
    width: min(90%, 1440px);
    margin-inline: auto;
  }

  .page-title {
    font-size: 2.5rem;
    margin-block-end: 1em;
  }

  .flex-w {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  /* Header Styles */

  .header {
    font-family: var(--ff-heading);
    border-bottom: 0.4rem solid var(--clr-accent);
    padding-block: 0.9em;
  }

  .header-title {
    font-size: 2.18rem;
    text-transform: uppercase;
    font-style: normal;
  }
  .header-title em {
    font-weight: 900;
    font-style: normal;
  }

  .header-title a {
    text-decoration: none;
    color: white;
  }

  .header-sub-title {
    display: none;
  }

  @media (min-width: 1000px) {
    .header .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header-sub-title {
      font-size: 1.2rem;
      display: block;
    }
  }
</style>
